.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.logo-container {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 0 16px 0 16px;
  height: 56px;
  display: flex;
  align-items: center;
}

.sidenav {
  width: 300px;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        cursor: pointer;
        padding: 0 16px 0 16px;
        height: 40px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }

        mat-icon {
            margin-right: 16px;
        }
    }
}

mat-toolbar, mat-toolbar-row {
    height: 56px;
    min-height: 56px;
}